body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    color: #ffffff;
}

nav.left>p {
    font-weight: 900;
    font-size: 20px;
}

nav.center {
    display: flex;
    justify-content: space-between;
}

.Container {
    width: 8vw;
    text-align: center;
    position: relative;
    color: white;
    cursor: pointer;
    padding-top: 0.6em;
}

.Container>p {
    margin-right: 0.3em;
    display: inline-block;
}

.Container>.List {
    position: absolute;
    top: 100%;
    width: 8vw;
    min-height: 19.5vh;
    text-align: left;
    background-color: #222;
    display: none;
}

.Container:hover .List {
    display: block;
}

.Container:hover i {
    transform: rotate(180deg);
}

.List>a {
    font-weight: 700;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: white;
}

.List a:hover {
    background-color: white;
    color: black;
}

.Live {
    width: 8vw;
    text-align: center;
    position: relative;
    color: white;
    cursor: pointer;
    padding-top: 0.6em;
}

.Categories {
    width: 12vw;
    text-align: center;
    position: relative;
    color: white;
    cursor: pointer;
    padding-top: 0.6em;
}

.Categories>p {
    margin-right: 0.3em;
    display: inline-block;
}

.Categories>.List {
    top: 102%;
    right: 0;
    min-width: 70vw;
    min-height: 60vh;
    position: absolute;
    background-color: #222;
    display: none;
    right: -163%;
}

.Categories:hover .List {
    display: block;
}

.Categories:hover i {
    transform: rotate(180deg);
}

.Categories .heading {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 20px;
    padding-right: 0.6em;
}

.heading p:first-child {
    margin-right: 18.6em;
}

.boxContainer {
    display: flex;
    justify-content: space-evenly;
}

.box p {
    letter-spacing: 2px;
    font-weight: bold;
    padding: 0.5em;
}

nav.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchicon {
    width: 6vw;
    text-align: center;
    color: white;
    cursor: pointer;
    padding-top: 0.5em;
}

.free {
    width: 9vw;
    text-align: center;
    color: white;
    cursor: pointer;
    padding-top: 0.6em;
}

.Langauge {
    width: 6vw;
    text-align: center;
    position: relative;
    color: white;
    cursor: pointer;
    padding-top: 0.6em;
}

.Langauge>.List {
    top: 100%;
    right: 0;
    min-width: 70vw;
    min-height: 60vh;
    position: absolute;
    background-color: #222;
    display: none;
    right: -94%;
}

.Langauge>p {
    display: inline-block;
}

.Langauge:hover .List {
    display: block;
}

.Langauge:hover i {
    transform: rotate(180deg);
}

.box>p:hover {
    background-color: white;
    color: black;
}

.UserPic {
    position: relative;
    width: 5vw;
    height: 6vh;
    background-image: url(Albums/User\ pic);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 0.4em;
}

.UserPic>.List {
    top: 100%;
    right: 0;
    min-width: 15vw;
    min-height: 19vh;
    position: absolute;
    background-color: #222;
    display: none;
}

.UserPic:hover .List {
    display: block;
}

.List {
    z-index: 2;
}


.display {
    position: relative;
    height: 90vh;
    background-color: black;
    z-index: 1;
}

.display img {
    width: 100%;
    height: 90vh;
}

.content {
    width: 48vw;
    position: absolute;
    color: white;
    top: 0;
    margin: 2em;
}

.content>h1 {
    font-size: 2.8rem;
    line-height: 3.1rem;
}

.content>h2 {
    font-size: 2rem;
    line-height: 3.1rem;
}

.content>p {
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.content>p.second {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.button {
    width: 280px;
    background-color: blue;
    padding: 12px 14px;
    text-align: center;
    font-weight: bold;
}


.channelContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;
}

.channelList {
    width: 45vw;
}

.channelInfo {
    width: 45vw;
}

.channelInfo>h2 {
    font-size: 2.8rem;
    line-height: 3.1rem;
}

.channelInfo>p {
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.channelList img {
    width: 180px;
    height: auto;
    cursor: pointer;
}

.channelList>img:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.content2 {
    width: 48vw;
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    margin: 0.5em;
}

.content2>h1 {
    font-size: 2.8rem;
    line-height: 3.1rem;
}

.content2>h2 {
    font-size: 2.8rem;
    line-height: 3.1rem;
}

.content2>p {
    font-size: 1.5rem;
    line-height: 1.8rem;
}

footer {
    height: 25vh;
    background-color: #222222;
    color: white;
    text-align: center;
    /* padding-top: 2em; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

footer>span {
    display: inline-block;
    color: #0f79af;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

@media screen and (max-width:879px) {
    header {
        height: 5vh;
        justify-content: space-between;
    }

    nav.left {
        margin-left: 0.3em;
    }

    nav.left p {
        font-size: 0;
    }

    nav.left p::before {
        content: "Menu";
        margin-right: 5px;
    }

    nav.left p::after {
        content: "\25BC";
        margin-right: 5px;
    }


    nav.left p::before,
    nav.left p::after {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
    }

    nav.center::before {
        content: "prime video";
        font-size: 20px;
        font-weight: bold;
        color: #fefdfb;
    }

    .Container,
    .Live,
    .Categories {
        display: none;
    }

    nav.right {
        margin-right: 0.5em;
    }

    .searchicon {
        margin-right: 0.7em;
    }

    .free {
        display: none;
    }

    .Langauge {
        display: none;
    }

    .searchicon {
        padding-top: 0;
    }

    .UserPic {
        width: 3vw;
        height: 3vh;
        margin-top: 0;
    }

    .UserPic:hover .List {
        display: none;
    }

    
    .display img {
        width: 100%;
        height: 50vh;
    }
    
    .content {
        width: 100vw;
        position: absolute;
        color: white;
        top: 45%;
        margin: 2em;
    }
    .content>h1{
        text-align: center;
    }
    .content>p{
        margin-left: 1.5em;
    }
    .content>.button {
        width: 90vw;
    }
   .rentals{
    top: 60%;
   }
   .content>h2{
    text-align: center;
}

.rentals>p{
    text-align: center;
    margin-left: 0;
}
.rentals>.button{
    width: 280px;
    margin: 0 auto;
}

.channelContainer {
    flex-direction: column;
}
.channelInfo {
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}
.channelList {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80vw;
    row-gap: 1em;
    column-gap: 1em;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.channelList>img{
    width: 240px; 
}
.content2 {
    width: 100vw;
    position: absolute;
    color: white;
    margin: 0;
    top: 20%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.86);
}

.content2>h2 {
    font-size: 2.8rem;
    line-height: 3.1rem;

}

.content2>p {
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.content2>.button{
    margin: 0 auto;
}
}


@media screen and (max-width:608px) {
    .UserPic {
        width: 30px;
        margin: 0;
    }

    .content {
        margin: 0;
        width: 100vw;
        top: 30%;
        left: 0;
    }

    .content>h1 {
        padding-left: 0.7em;
    }

    .content>h2 {
        padding-left: 0.7em;
    }

    .content>p {
        padding-left: 1.3em;
    }

    .image {
        width: 80%;
        height: 28vh;
        margin: 0 auto;
        overflow: hidden;
    }

    .image>img {
        width: 100%;
        height: 100%;
    }

    .button {
        width: 80vw;
        margin: 0 auto;
    }
    .channelList {
        display: grid;
        grid-template-columns: auto auto;
    }
    .channelList img{
        width: 120px;
    }
}